/* 
    Document   : test
    Created on : 3 juin 2013, 19:29:33
    Author     : regisg
    Description:
        Purpose of the stylesheet follows.
*/

/* si l'on veut que tous les paragraphes soient verts*/
p {color: green;}

/* tous les liens comportant la classe important seront rouges, en gras*/
a.important {font-weight: bold;color: red;}
